<If "%{HTTP_HOST} !~ /^(localhost|127\.0\.0\.1)(:[0-9]+)?$/">
  AuthUserFile "/home/jdkb/jidaikobo.dev/htpasswd/enegate.jidaikobo.dev/.htpasswd"
  AuthName "Member Site"
  AuthType BASIC
  require valid-user
</If>

# HTMLファイルをPHPとして実行・解析させる設定（環境ごとの切り替え）
<IfModule mod_fcgid.c>
  AddHandler fcgid-script .html
</IfModule>
<IfModule !mod_fcgid.c>
  AddType application/x-httpd-php .html
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(html|php)$">
    Header set Content-Type "text/html; charset=Shift_JIS"
  </FilesMatch>
</IfModule>
