@charset "utf-8";
/* CSS Document */

#mainContent .topic-title { background: url(../../../now/img/topic_title.gif) no-repeat; margin: 8px 0px 0px; padding: 0px; height: 22px; width: 690px; font-size: 1.1em; font-weight: bold; color: #FFF; text-indent: 5px; clear: left; }
#mainContent .topics-takumi { margin-bottom: 10px; float: left; }
#company #container #article #mainContent h1#takumi { margin: 0px; padding: 0px; height: 90px; width: 690px; background: url(../../../now/img/h1_takumi.gif); }
#mainContent .topics-takumi .tekumi-coment { float: left; padding: 0px; margin: 0px 10px 0px 0px; width: 535px; line-height: 1.3em; }
#mainContent .topics-takumi .tekumi-coment h4 { color: #0526BF; border-bottom: 1px solid #666; border-left: 8px solid #666; width: 520px; text-indent: 5px; margin-bottom: 10px; margin-top: 7px; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "EE EゴシチE", "MS PGothic", sans-serif; font-size: 0.8em; line-height: 1.4em; font-weight: bold; }
#mainContent .topics-takumi img { float: left; padding: 0px; margin: 5px 5px 5px 3px; }
#mainContent .topics-takumi .tekumi-coment .linksicon { float: right; margin: 5px 0px 0px; padding: 0px; clear: right; }
#article #mainContent .takumi-title { border-bottom: 4px solid #999; padding: 0px; margin: 0px; width: 680px; font-weight: bold; font-size: 1.3em; }
#article #mainContent .profile { margin: 10px 0px 0px; padding: 0px; }
.profile .profile02 { padding: 0px; line-height: 1.6em; font-size: 1.1em; margin: 10px 0px; list-style: square inside; }
.sikaku dt { float: left; font-weight: bold; color: #0021BD; padding-left: 5px; margin-left: 5px; font-size:1.2em;}
.sikaku dd { font-size:0.8em; padding-left: 11px; }
/*経歴*/
.keireki dl dt { float: left; width: 13em; font-size:1.1em;}
.keireki dd{ font-size:0.7em;}
.keireki h6 { font-weight: bold; color: #0021BD;  font-size:0.7em;}
.keireki { margin: 10px 10px 20px 5px; padding: 5px 0px 5px 5px; background: url(../../../now/img/bg_coment.gif); }
.topics-takumi .tekumi-coment .backimg { padding: 0px; margin: 0px; float: right; }
.profile .sikaku dd { margin-left: 6em; }
.profile02 li{ font-size:0.7em;}
#mainContent .topicNow { float: left; margin: 0px; padding: 0px; height: 240px; width: auto; }
#mainContent #comet { clear: left; margin: 20px 10px 10px 5px; padding: 0px; }
ul .PhotoComent { font-size: 0.8em; list-style: url(../../../img/mark01.gif) inside; margin: 2px 0px 0px; padding-top: 0px; padding-bottom: 2px; padding-left: 5px; }
/*匠ページ写真レイアウト枠*/
#mainContent .takumiphoto { margin: 10px; padding: 0px; float: right; width: 300px; }
.takumiphoto2 { margin: 0px 10px 0px 0px; padding: 0px; float: right; width: 300px; }
.takumiphoto3 { margin: 0px 0px 0px 10px; padding: 0px; float: left; width: 300px; }
/*社内報　PDFリンク先枠*/
.newsletter-content { margin: 10px 0px 0px; padding: 0px; float: right; width: 370px; }
#mainContent .newsletter-content #newsletter-title { font-size: 1.3em; margin: 0px 10px 15px 0px; border-bottom: 1px solid #02119F; border-left: 5px solid #02119F; height: 1.2em; padding: 0px 0px 2px 5px; }
#container #article #mainContent #backno-gallery ul li { display: inline; list-style: none; padding: 0px; margin: 0px; width: 230px; height: 340px; float: left; }
/*　エネゲートナウ用 ヘッダー表示用*/
#company #container #article #mainContent h1 { margin: 0px; padding: 0px; height: 90px; width: 690px; background: url(../../../now/img/h1_enegatenow.gif); }
#company #container #article #mainContent h1#history { margin: 0px; padding: 0px; height: 90px; width: 690px; background: url(../../../now/img/h1_history.gif); }
#company #container #article #mainContent h1#ayumi-title { margin: 0px; padding: 0px; height: 90px; width: 690px; background: url(../../../now/img/h1_ayumi.gif); }
#company #container #article #mainContent h1#principle { margin: 0px; padding: 0px; height: 90px; width: 690px; background: url(../../../now/img/h1_principle.gif); }
#backno-gallery { float: left; margin-bottom: 20px; }
#backno-gallery ul li h5 { color: #666; font-weight: bold; text-indent: 20px; }
#company #container #article #mainContent h1#newsletter { margin: 0px; padding: 0px; height: 90px; width: 690px; background: url(../../now/img/h1_inc_news.gif) no-repeat; }
/*あゆみ　テーブルレイアウト*/
.topicNow2 table tr td .year { font-size: 11px; color: #000; text-indent: 2px; }
.topicNow2 table tr td .project { font-size: 11px; color: #333; margin: 0px; padding: 0px 2px; }
.topicNow2 table tr .dotline { border-bottom: 1px solid #CCC; }
.topicNow2 table tr .dotline2 { border-bottom: 1px solid #CCC; border-right: 1px solid #CCC; }
.topicNow2 table tr th .ayumi-h3 { font-size: 16px; font-weight: bold; color: #F36; padding: 0px 0px 0px 2px; margin: 5px 0px 2px; }
.topicNow2 .bgset { background: url(../../../now/mater_history/img/table_bg.jpg) no-repeat 600px; }
/*字下げ*/
p { text-indent: 1em; }
.hpbake { margin: 60px 0px 0px; padding: 0px; float: right; clear: both; }
.newsletter-content ul .pdf-icon { list-style: url(../../../img/pdf_small.gif); margin-top: 2px; margin-bottom: 2px; margin-left: 18px; padding-left: 5px; }
#article #mainContent #gallery ul .mater { list-style: none; display: inline; margin: 0px; padding: 0px; font-size: 1px; height: 240px; width: 230px; float: left; }
#mainContent .topicNow2 { float: left; margin: 0px; padding: 0px; }
